#wicked-logo{
  max-height: 50px;
}

.card-img-top {
  height: 300px;
  object-fit: contain;
}

.product-list-container .card:hover, #view, #shopping-cart:hover {
  cursor: pointer;
}

.header-container h1 {
  font-family: snesitalic;
  line-height: .85;
}
